

<%= form_for :session, url: sign_in_path do |f| %>
    <div class="container">
        <div class="row">
            <div class="col s6 offset-s3 z-depth-3" id="panel">
            <h5 id="log_in">Log In</h5>
            <% if flash[:login_error] %>
                <p style = 'color:red; margin-left:20px;'><%=flash[:login_error] %></p>
            <% end %>
                <div class="input-field" id="username">
                    <%= f.label :username %>
                    <%= f.text_field :username %>
                </div>
                <div class="input-field" id="password">
                    <%= f.label :password %>
                    <%= f.password_field :password %>
                </div>
                <a class="grey darken-1 waves-effect waves-light btn" id="loginbtn"><%= f.submit "Login" %></a>
            </div>
        </div>
    </div>
<% end %>
  