<div class="container"><h1>Log In</h1></div>
<% if flash[:login_error] %>
       <p style = 'color:red;'>  <%= flash[:login_error]%>  </p>
<% end%>

<%= form_for :session, url: sign_in_path do |f| %>
    <div class="container">
        <div class="input-field col s6">
            <%= f.label :username %>
            <%= f.text_field :username %>
        </div>
        <div class="input-field col s6">
            <%= f.label :password %>
            <%= f.text_field :password %>
        </div>
        <%= f.submit "Login" %>
    </div>
<% end %>
  