<% if flash[:login_error] %>
       <p style = 'color:red;'>  <%= flash[:login_error]%>  </p>
<% end%>

<%= form_for :session, url: sign_in_path do |f| %>
    <div>
        <%= f.label :username %>
        <%= f.text_field :username %>
    </div>
    <div>
        <%= f.label :password %>
        <%= f.text_field :password %>
    </div>
    <%= f.submit "Login" %>
<% end %>
  