<div class="container">
    <% if flash[:errors] %>
        <% flash[:errors].each do |error|%>
        <p style = 'color:red;'>  <%= error %>  </p>
        <% end%>
    <% end%>
</div>

<%= form_for @artist do |f| %>
     <div class="container">
        <div class="row">
            <div class="col s6 offset-s3 z-depth-3" id="panel">
            <h5  id="register">Create Artist Account</h5>
                <div class="input-field" id="username">
                    <%= f.label :name %>
                    <%= f.text_field :name %>
                </div>
                <div class="input-field" id="email">
                    <%= f.label "Email" %>
                    <%= f.text_field :bio %>
                </div>
                <div class="input-field" id="password">
                    <%= f.label "password" %>
                    <%= f.password_field :updated_at %>
                </div>
                <div class="input-field" id="password">
                    <%= f.label "password_confirmation" %>
                    <%= f.password_field :created_at %>
                </div>
                <div class="input-field" id="zip_code">
                    <%= f.label "Zip Code" %>
                    <%= f.number_field :location_id %>
                </div>
                <a class="grey darken-1 waves-effect waves-light btn" id="registerbtn"><%= f.submit "Create Artist Account" %></a>
            </div>
        </div>
    </div>
<% end%>
    