<h1><%= @artist.name %></h1>

<p>Location: <%= @artist.location.city_state %></p>
<p>Bio: <%= @artist.bio %></p>

<h3>Artworks</h3>
<ul>
<% @artist.artworks.each do |artwork|%>
    <li><%= link_to artwork.name, artwork_path(artwork)%>
<% end%>
</ul>
<br>
<br>

<%= button_to "Delete Artist", artist_path, method: :delete%>
<br>
<p><%= link_to "Add a New Artwork", new_artwork_path %></p>
<p><%= link_to "Back to All Artists", artists_path %></p>
<p><%= link_to "Edit this Artist", edit_artist_path %></p>