<h1><%= @artwork.name %></h1>

<img src=<%=@artwork.img_url%>>
<br>

<p>Artist: <%= @artwork.artist.name %><p>
<p>Medium: <%= @artwork.medium %></p>
<p>Size: <%= @artwork.size %></p>

<%= button_to "Delete Artwork", artwork_path, method: :delete %>
<br>
<p><%= link_to "Back to Artist Page", artist_path(@artwork.artist) %></p>
