<h1><%= @artwork.name %></h1>
<p>Insert Beautiful Image Here</p>
<br>
<p>Name: <%= @artwork.name %><p>
<p>Medium: <%= @artwork.medium %></p>
<p>Size: <%= @artwork.size %></p>

<p><%= link_to "Back to All Artworks", artworks_path %></p>
<p><%= link_to "Edit this Artwork", edit_artwork_path %></p>