<div class="container">
<% if flash[:cart_error] %>
    <p style= color:red;><%= flash[:cart_error] %></p>
<% end%>
</div>
<div class="container"><h1><%= @artwork.name %></h1><div>


<div class="row" id="artwork_row">
    <div class="col s12 m6">
        <div class="card">
            <div class="card-image">
                <%= image_tag(@artwork.img_url) %>
                <span class="card-title"></span>
            </div>
            <div class="card-content">
                <p><%= @artwork.name %> by <%= @artwork.artist.name %></p>
                <p>Medium: <%= @artwork.medium %></p>
                <p>Size: <%= @artwork.size %></p>
                <p>Price: $<%= @artwork.price %>0</p>
            </div>
            <div class="card-action">
                <div><%= link_to "Add to Cart", carts_path, method: :post %></div>
            </div>
        </div>
    </div>
</div>


<br>

<p><%=link_to "Back to Artist Page", artist_path(@artwork.artist) %></p>
