<%if flash[:errors] %>
    <% flash[:errors].each do |error|%>
        <p style = 'color:red;'>  <% error %>  </p> 
    <% end%>
<% end%>


<%= form_for(@user) do |f| %>
    <div class="container" >
        <div class="input-field col s6">
            <%= f.label :username %>
            <%= f.text_field :username %>
        </div>
        <div class="input-field col s6">
            <%= f.label :email %>
            <%= f.text_field :email %>
        </div>
        <div class="input-field col s6">
            <%= f.label :password %>
            <%= f.text_field :password %>
        </div>
        <div class="input-field col s6">
            <%= f.label :zip_code %>
            <%= f.number_field :zip_code %>
        </div><br>
    <%= f.submit %>
    </div>
<% end %>
  