<div class="container">
    <% if flash[:errors] %>
        <% flash[:errors].each do |err| %>
            <p style = 'color:red;'><%= err %></p>
        <% end %>
    <% end %>
</div>

<%= form_for(@user) do |f| %>
    <div class="container">
        <div class="row">
            <div class="col s6 offset-s3 z-depth-3" id="panel">
            <h5  id="register">Edit Your Account</h5>
                <div class="input-field" id="username">
                    <%= f.label :username %>
                    <%= f.text_field :username %>
                </div>
                <div class="input-field" id="email">
                    <%= f.label :email %>
                    <%= f.text_field :email %>
                </div>
                <div class="input-field" id="password">
                    <%= f.label :password %>
                    <%= f.password_field :password %>
                </div>
                <div class="input-field" id="password">
                    <%= f.label :password_confirmation %>
                    <%= f.password_field :password_confirmation %>
                </div>
                <div class="input-field" id="zip_code">
                    <%= f.label :zip_code %>
                    <%= f.number_field :zip_code %>
                </div>
                <a class="yellow darken-1 waves-effect waves-light btn" id="registerbtn"><%= f.submit "Update Your Account" %></a>
            </div>
        </div>
    </div>
<% end %>
  