<div class="container" id="artwork_title"><h3>My Account</h3>
<hr class="pg_hr">
<div>Username: <%= @user.username %></div><br>
<div>Email: <%= @user.email %></div><br>
<div>Zip Code: <%= @user.zip_code %></div><br>

<div><%= link_to "Edit My Account", edit_user_path(@current_user) %></div>
<br>
<br>
<br>
<br>

<div class="left-align" id="delbtn"><%= button_to "Delete My Account", user_path(@current_user), method: :delete %></div>
