<div class="center-align">
    <div class="col s12 m6">
    <div class="card medium" id="artwork_title"><h3>&nbsp;&nbsp;My Account</h3><br><br><br><br><br><br><br><br>
      <div class="card">
        <div class="card-content">
        <div>Username: <%= @user.username %></div><br>
        <div>Email: <%= @user.email %></div><br>
        <div>Zip Code: <%= @user.zip_code %></div><br>
        <div class="card-action">
          <div><%= button_to "Delete My Account", user_path(@current_user), method: :delete %>
          <div><%= link_to "Edit My Account", edit_user_path(@current_user) %></div>
        </div>
      </div>
    </div>
  </div>