<% if flash[:errors] %>
    <% flash[:errors].each do |error|%>
       <p style = 'color:red;'>  <%= error %>  </p>
    <% end%>
<% end%>

<%= form_for @location do |f| %>
<div class="container">
    <div class="input-field col s6">
        <%= f.label "City, State: " %><br>
        <%= f.text_field :city_state %><br>
    </div>
    <div class="input-field col s6">
        <%= f.label "Zip Code: " %><br>
        <%= f.number_field :zip_code %><br>
    </div>
    <%= f.submit %>
</div>
<% end%>
