<h1><%= @location.city_state %></h1>

 Insert Map of Location Here
 <br>
 <p>Zip Code: <%= @location.zip_code %></p>

 <h3>Artists in This City</h3>
<ul>
<% @location.artists.each do |artist|%>
    <li><%= link_to artist.name, artist_path(artist)%>
<% end%>
</ul>
<br>
<br>

<%= button_to "Delete Location", location_path, method: :delete %>
<br>
<p><%= link_to "Back to All Locations", locations_path %></p>
<p><%= link_to "Edit this Location", edit_location_path %></p>
<p><%= link_to "Add a New Artist", new_artist_path %></p>